<ion-header>
    <ion-toolbar>
      <ion-title>Produtos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-item>
    <ion-label><b>Nome</b></ion-label>
    <ion-input type="text" #nome></ion-input>
  </ion-item>

  <ion-item>
    <ion-label><b>Valor</b></ion-label>
    <ion-input type="number" #valor></ion-input>
  </ion-item>

  <ion-button (click)="cadastrarProduto()">Cadastrar</ion-button>
  <ion-button color="secondary" (click)="listarProduto()">Listar Todos</ion-button>
</ion-content>